.container{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px){
    .container{
        margin: 0 auto;
    }
}

@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container{
        max-width: 1200px;
    }
}

@media (min-width: 1400px){
    .container{
        max-width: 1350px;
    }
}

.title h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    color: #132743;
    text-transform: capitalize;
}

.title.center{
    text-align: center;
}

.skills{
    padding: 65px 0 100px;
    position: relative;
}

.skills .skills-items{
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 20px;
}

.skills-item{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
}

.skills-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.skills-info p{
    font-weight: 600;
    font-size: 16px;
    color: #407088;
    opacity: 1;
    -webkit-animation: showText 0.5s 1s linear forwards;
    animation: showText 0.5s 1s linear forwards;
}

.progress-line{
    margin-top: 7px;
    height: 10px;
    width: 100%;
    background-color: #cdcdcd;
    border-radius: 50px;
    position: relative;
}

.progress-line span{
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    height: 100%;
    position: absolute;
    background-color: #ffb5b5;
    transition: 1s all;
}

.progress-line span.animate{
    -webkit-animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@-webkit-keyframes showText{
    100%{
        opacity: 1;
    }
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes animate{
    100%{
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@keyframes animate{
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}